mixin expandable-chckbox-list(expclass,exptitle,expitems)
  - var expclasssep=expclass.split(' ')
  - var expclass_title= expclass + '__title'
  - var expclass_input= expclass + '__input'
  - var expclass_label= expclass + '__label'
  - var expclass_container=expclass + '__container'
  - var expclass_box=expclass + '__box'
  - var expclass_p=expclass + '__p'
  - if (expclasssep.length > 1) {expclass_title =expclasssep[0] + ' ' + expclasssep[0] + '__title' + ' ' + expclasssep[1] + '__title'; expclass_input =expclasssep[0] + ' ' + expclasssep[0] + '__input' + ' ' + expclasssep[1] + '__input';expclass_label = expclasssep[0] + ' ' + expclasssep[0] + '__label' + ' ' + expclasssep[1] + '__label';expclass_container =expclasssep[0] + ' ' + expclasssep[0] + '__container' + ' ' + expclasssep[1] + '__container';expclass_box =expclasssep[0] + ' ' + expclasssep[0] + '__box' + ' ' + expclasssep[1] + '__box';expclass_p =expclasssep[0] + ' ' + expclasssep[0] + '__p' + ' ' + expclasssep[1] + '__p'; }
  details(class=expclass)&attributes(attributes)
    summary(class=expclass_title)=exptitle
    div(class=expclass_container)
      -if (Array.isArray(expitems))
        each val in expitems
          div(class=expclass_box)
            input(class=expclass_input, type="checkbox", name=expclass_input)
            label(class=expclass_label, for=expclass_input)=val
              span
      -else
        each val,keys in expitems
          div(class=expclass_box)
            input(class=expclass_input, type="checkbox", name=expclass_input)
            label(class=expclass_label, for=expclass_input)=keys
              span
              p(class=expclass_p)=val