doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    //script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    //script(type="text/javascript" src="datepicker.min.js")
    link(href="expandable-chkbox-list.css" rel="stylesheet")
body
  mixin expandable-chckbox-list(expclass,exptitle,expitems)
    - var expclass_title= expclass + ' ' + expclass + '__title'
    - var expclass_input= expclass + ' ' + expclass + '__input'
    - var expclass_label= expclass + ' ' + expclass + '__label'
    - var expclass_container=expclass + ' ' + expclass + '__container'
    - var expclass_box=expclass + ' ' + expclass + '__box'
    details(class=expclass)
      summary(class=expclass_title)=exptitle
      div(class=expclass_container)
        each val in expitems 
          div(class=expclass_box)
            input(class=expclass_input, type="checkbox", name=expclass_input)
            label(class=expclass_label, for=expclass_input)=val
              span
        
+expandable-chckbox-list('expandable-chckbox-list','Expandable CheckBox List',['Завтрак','Письменный стол','Столик для кормления', 'Кроватка', 'Телевизор', 'Шампунь'])