mixin expandable-chckbox-list(expclass,exptitle,expitems)
  - var expclasssep=expclass.split(' ')
  - var expclass_title= expclass + '__title'
  - var expclass_input= expclass + '__input'
  - var expclass_label= expclass + '__label'
  - var expclass_container=expclass + '__container'
  - var expclass_box=expclass + '__box'
  - var expclass_p=expclass + '__p'
  - var i=0;
  - if (expclasssep.length > 1) {expclass_title =expclass_input =expclass_label=expclass_container=expclass_box=expclass_p=expclasssep[0];while (i<=expclasssep.length-1) {expclass_title +=' ' + expclasssep[i] + '__title' ; expclass_input +=' ' + expclasssep[i] + '__input';expclass_label += ' ' + expclasssep[i] + '__label';expclass_container +=' ' + expclasssep[i] + '__container';expclass_box +=' ' + expclasssep[i] + '__box';expclass_p =' ' + expclasssep[i] + '__p'; i++;}}
  details(class=expclass)&attributes(attributes)
    summary(class=expclass_title)=exptitle
    div(class=expclass_container)
      -if (Array.isArray(expitems))
        each val in expitems
          div(class=expclass_box)
            input(class=expclass_input, type="checkbox", name=expclass_input)
            label(class=expclass_label, for=expclass_input)=val
              span
      -else
        each val,keys in expitems
          div(class=expclass_box)
            input(class=expclass_input, type="checkbox", name=expclass_input)
            label(class=expclass_label, for=expclass_input)=keys
              span
              p(class=expclass_p)=val