mixin review(options)
  include ..\like-button\like-button.pug
  - var classNameDivided=options.className.split(' ')
  div(class=options.className)
    div(class=classNameDivided.map((item)=>`${item}__author`).join(' '))
      div(class=classNameDivided.map((item)=>`${item}__imagebox`).join(' '))
        img(class=classNameDivided.map((item)=>`${item}__image`).join(' '),src=options.imagePath)
      div( class=classNameDivided.map((item)=>`${item}__box`).join(' '))
        span(class=classNameDivided.map((item)=>`${item}__name`).join(' '))=options.name
        span(class=classNameDivided.map((item)=>`${item}__time`).join(' '))=options.publicationDate
    div(class=classNameDivided.map((item)=>`${item}__text-with-like`).join(' '))
      div(class=classNameDivided.map((item)=>`${item}__likebox`).join(' '))
        +like-button({className:`like-button like-button_${classNameDivided[classNameDivided.length-1]}`,checked:'2'})
      label(class=classNameDivided.map((item)=>`${item}__textarea`).join(' '))=options.textReview