mixin review(options)
  include ..\like-button\like-button.pug
  - options = options || {};
  - options.className = options.className || 'review' ;
  - options.imagePath = options.imagePath || '../../blocks/review/img/image.png';
  - options.name = options.name || 'Мурад Сарафанов';
  - options.publicationDate = options.publicationDate || '5 дней назад';
  - options.textReview = options.textReview || 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.';
  - options.count = options.count || '15';
  - var classNameDivided=options.className.split(' ')
  div(class=options.className)
    div(class=classNameDivided.map((item)=>`${item}__author`).join(' '))
      div(class=classNameDivided.map((item)=>`${item}__imagebox`).join(' '))
        img(class=classNameDivided.map((item)=>`${item}__image`).join(' '),src=require(options.imagePath))
      div( class=classNameDivided.map((item)=>`${item}__box`).join(' '))
        span(class=classNameDivided.map((item)=>`${item}__name`).join(' '))=options.name
        span(class=classNameDivided.map((item)=>`${item}__time`).join(' '))=options.publicationDate
    div(class=classNameDivided.map((item)=>`${item}__text-with-like`).join(' '))
      div(class=classNameDivided.map((item)=>`${item}__likebox`).join(' '))
        +like-button({className:`like-button like-button_${classNameDivided[classNameDivided.length-1]}`,count:options.count})
      label(class=classNameDivided.map((item)=>`${item}__textarea`).join(' '))=options.textReview