mixin account-registration(options)
  - var classNameDivided=options.className.split(' ');
  - options = options || {};
  - options.className = options.className || 'account-registration' ;
  - options.title = options.title || 'Регистрация аккаунта';
  div(class=options.className)
    label(class=classNameDivided.map((item)=>`${item}__title`).join(' '))=options.title 
    form(class=classNameDivided.map((item)=>`${item}__reg-form`).join(' '))
      +textfield({className:'textfield textfield_reg-acc',title:'',placeholder:'Имя'})
      +textfield({className:'textfield textfield_reg-acc',title:'',placeholder:'Фамилия'})
      +radio-buttons({className:'radio-buttons',title:'',radioButtonsTitles:['Мужчины','Женщины']})
      +textfield({className:'textfield textfield_masked',title:'Дата Рождения',placeholder:'ДД.ММ.ГГГГ'})
    form(class=classNameDivided.map((item)=>`${item}__login-form`).join(' '))
      +textfield({className:'textfield textfield_reg-acc',title:'Данные для входа в сервис',placeholder:'Email'}) 
      +textfield({className:'textfield textfield_reg-acc',title:'',placeholder:'Пароль'})
      +expandable-checkbox-list({className:'expandable-checkbox-list expandable-checkbox-list_checkbox-buttons expandable-checkbox-list_toogle',title:'',listItems:['Получать спецпредложения']})(open)
      +button({className:'button button_with-arrow reg-button',title:'Перейти к оплате'})
    form(class=classNameDivided.map((item)=>`${item}__exist-login-form`).join(' '))
      label(class=classNameDivided.map((item)=>`${item}__label`).join(' ')) Уже есть аккаунт на Toxin
      +button({className:'button button_without-fill',title:'Войти'})
