mixin account-registration(aclass,atitle)
  - var aclass_spl=aclass.split(' ');
  div(class=aclass)
    label(class=aclass_spl.map((item)=>`${item}__title`).join(' '))=atitle 
    form(class=aclass_spl.map((item)=>`${item}__reg-form`).join(' '))
      +textfield({className:'textfield acc-reg-textfield',title:'',placeholder:'Имя'})
      +textfield({className:'textfield acc-reg-textfield',title:'',placeholder:'Фамилия'})
      +radio-buttons('radio-buttons','','Мужчины','Женщины')
      +textfield({className:'textfield textfield_masked',title:'Дата Рождения',placeholder:'ДД.ММ.ГГГГ'})
    form(class=aclass_spl.map((item)=>`${item}__login-form`).join(' '))
      +textfield({className:'textfield acc-reg-textfield',title:'Данные для входа в сервис',placeholder:'Email'}) 
      +textfield({className:'textfield acc-reg-textfield',title:'',placeholder:'Пароль'})
      +expandable-chckbox-list('expandable-chckbox-list expandable-chckbox-list--checkbox-buttons expandable-chckbox-list--toogle'
      ,'',['Получать спецпредложения'])(open)
      +button('button button-with-arrow reg-button','Перейти к оплате')
    div(class=aclass_spl.map((item)=>`${item}__container`).join(' '))
      label(class=aclass_spl.map((item)=>`${item}__label`).join(' ')) Уже есть аккаунт на Toxin
      +button('button button-without-fill','Войти')
