mixin textlabel(className,title,placeholder)
	- var classNameDivided=className.split(' ');
	div(class=className)
		label(class=classNameDivided.map((item)=>`${item}__label`).join(' '),for=classNameDivided.map((item)=>`${item}__input`).join(' '))=title
			input(class=classNameDivided.map((item)=>`${item}__input`).join(' '),type="text",placeholder=placeholder)&attributes(attributes)