mixin range-slider(rsclass,rstitle)
  div(class=rsclass)
    div(class=rsclass + '__box')
      label(class=rsclass + '__title')=rstitle
      span(class=rsclass + '__range')
    div(class=rsclass + '__slider')