mixin graph-reviews(gclass,gcount)
  div(class=gclass)
      canvas(class=gclass + "__canvas")
      div(class=gclass + "__box")
        label(class=gclass + "__count")=gcount
        label(class=gclass + "__voices") голосов