mixin graph-reviews(options)
  div(class=options.className)
      canvas(class=`${options.className}__canvas`)
      div(class=`${options.className}__votes-number`)
        label(class=`${options.className}__count`)=options.count
        label(class=`${options.className}__votes`) голосов