mixin room-card(rclass,rpath,rnumber,rtype,rprice,rreviews,rstars)
  div(class=rclass)
    div(class=`${rclass}__photos`)
      div(class='splide')
        div(class='splide__track')
          ul(class='splide__list')
            li(class='splide__slide')
              img(src=rpath[0])
            li(class='splide__slide')
              img(src=rpath[1])
            li(class='splide__slide')
              img(src=rpath[2])
    div(class=`${rclass}__container-price`)
      span(class=`${rclass}__number`)=`№${rnumber}` 
      span(class=`${rclass}__type`)=rtype 
      span(class=`${rclass}__price`)=rprice
      span(class=`${rclass}__price2`)='₽ в сутки'  
    div(class=`${rclass}__review-container`)
      +rate-button('rate-button',rstars) 
      span(class=`${rclass}__reviews`)=rreviews 
      span(class=`${rclass}__reviews2`)='Отзывов'