mixin room-card(rclass,rpath,rnumber,rtype,rprice,rreviews,rstars)
  -var rclassarr=rclass.split(' ')
  -var rclassc_chngd=''
  div(class=rclass)
    div(class=rclassarr.map((item)=>`${item}__photos`).join(' '))
      div(class='splide',id=`${rclassarr[rclassarr.length -1]}__splide`)
        div(class='splide__track')
          ul(class='splide__list')
            li(class='splide__slide')
              img(src=rpath[0])
            li(class='splide__slide')
              img(src=rpath[1])
            li(class='splide__slide')
              img(src=rpath[2])
    div(class=rclassarr.map((item)=>`${item}__container-price`).join(' '))
      span(class=rclassarr.map((item)=>`${item}__number`).join(' '))=`№${rnumber}`
      span(class=rclassarr.map((item)=>`${item}__type`).join(' '))=rtype 
      span(class=rclassarr.map((item)=>`${item}__price`).join(' '))=rprice
      span(class=rclassarr.map((item)=>`${item}__price2`).join(' '))='₽ в сутки'  
    div(class=rclassarr.map((item)=>`${item}__review-container`).join(' '))
      +rate-button(`rate-button rate-button-${rclassarr[rclassarr.length -1]}`,rstars)
      div(class=rclassarr.map((item)=>`${item}__review-container2`).join(' ')) 
        span(class=rclassarr.map((item)=>`${item}__reviews`).join(' '))=rreviews 
        span(class=rclassarr.map((item)=>`${item}__reviews2`).join(' '))='Отзывов'