mixin room-card(options)
  -var classNameDivided=options.className.split(' ')
  div(class=options.className)
    div(class=classNameDivided.map((item)=>`${item}__photos`).join(' '))
      div(class='splide',id=`${classNameDivided[classNameDivided.length -1]}__splide`)
        div(class='splide__track')
          ul(class='splide__list')
            each val in options.imagePaths
              li(class='splide__slide')
                img(src=val)
    div(class=classNameDivided.map((item)=>`${item}__container-price`).join(' '))
      span(class=classNameDivided.map((item)=>`${item}__number`).join(' '))=`№${options.roomNumber}`
      span(class=classNameDivided.map((item)=>`${item}__type`).join(' '))=options.roomType 
      span(class=classNameDivided.map((item)=>`${item}__price`).join(' '))=options.roomPrice
      span(class=classNameDivided.map((item)=>`${item}__price2`).join(' '))='₽ в сутки'  
    div(class=classNameDivided.map((item)=>`${item}__review-container`).join(' '))
      +rate-button({className:`rate-button rate-button-${classNameDivided[classNameDivided.length -1]}`,checked:options.rating})
      div(class=classNameDivided.map((item)=>`${item}__review-container2`).join(' '))
        span(class=classNameDivided.map((item)=>`${item}__reviews`).join(' '))=options.reviewsNumber
        span(class=classNameDivided.map((item)=>`${item}__reviews2`).join(' '))='Отзывов'