mixin login-card(lclass,ltitle)
  div(class=lclass)
    label(class=lclass + '__title')=ltitle
    form(class=lclass + '__form')
      +textlabel('textfield login-card--textfield','','Email') 
      +textlabel('textfield login-card--textfield','','Пароль')
      +button('button button-with-arrow login-button','Перейти к оплате')
    div(class=lclass + '__container')
      label(class=lclass + '__label') Уже есть аккаунт на Toxin
      +button('button button-without-fill','Создать')