mixin login-card(options)
  - options = options || {};
  - options.className = options.className || 'login-card' ;
  - options.title = options.title || 'Войти';
  div(class=options.className)
    label(class=`${options.className}__title`)=options.title
    form(class=`${options.className}__form`)
      +textfield({className:'textfield login-textfield',title:'',placeholder:'Email'}) 
      +textfield({className:'textfield login-textfield',title:'',placeholder:'Пароль'})
      div(class=`${options.className}__button-to-pay`)
        +button({className:'button button_with-arrow',title:'Перейти к оплате'})
    form(class=`${options.className}__exist-login-form`)
      label(class=`${options.className}__label`) Уже есть аккаунт на Toxin
      +button({className:'button button_without-fill',title:'Создать'})