mixin icon-text-list(options)
  - options = options || {};
  - options.className = options.className || 'icon-text-list' ;
  - options.listItems = options.listItems || {'Комфорт':'Шумопоглащающие стены','Удобство':'Окно в каждой спальне'};
  - options.imagePaths = options.imagePaths || ['../../blocks/icon-text-list/svg/insert_emoticon.svg','../../blocks/icon-text-list/svg/location_city.svg'];
  - var i=0
  div(class=options.className)
    each val,keys in options.listItems
      div(class=`${options.className}__item-advantage`)
        img(src=require(options.imagePaths[i]),class=`${options.className}__img`)
        div(class=`${options.className}__listItems`)
          span(class=`${options.className}__title`)=keys
          span(class=`${options.className}__text`)=val
        -i++
