mixin bullet-list(options)
  - var classNameDivided=options.className.split(' ');
  div(class=options.className)
    label(class=classNameDivided.map((item)=>`${item}__title`).join(' '))=options.title
    ul(class=classNameDivided.map((item)=>`${item}__ul`).join(' '))
      each val in options.listItems
        li(class=classNameDivided.map((item)=>`${item}__li`).join(' '))
          span(class=classNameDivided.map((item)=>`${item}__span`).join(' '))=val