mixin bullet-list(mclass,mtitle,mtext)
  - var mclass_spl=mclass.split(' ');
  div(class=mclass)
    label(class=mclass_spl.map((item)=>`${item}__title`).join(' '))=mtitle
    ul(class=mclass_spl.map((item)=>`${item}__ul`).join(' '))
      each val in mtext
        li(class=mclass_spl.map((item)=>`${item}__li`).join(' '))
          span(class=mclass_spl.map((item)=>`${item}__span`).join(' '))=val